@import '../../../../vendor/filament/filament/resources/css/theme.css';


@source '../../../../app/';
@source '../../../../resources/views/';
@source '../../../../resources/js/components';

@theme {
    --color-dark-title-block: #3A7898;
    --color-bright-title-block: #6AC4D3;
    --color-light-title-block: #AADCE5;
    --color-orange-title: #EF7B41;
    --color-green-title: #63B981;
    --color-yellow-title: #F8BF2E;
}


.fi-body {
    background-color: white !important;
}

.fi-simple-main {
    @apply border-gray-100 shadow-lg;
}

.fi-section {
    @apply rounded-none;
}

.header-dark .fi-section-header {
    @apply bg-dark-title-block;
}

.header-dark .fi-section-header h3,
.header-dark .fi-section-header p,
.header-dark .fi-section-header button {
    @apply text-gray-50;
}

.search-result {
    background-color: rgba(173, 216, 230, 0.6);
}

.search-current {
    outline: 2px solid #1e90ff;
    background-color: rgba(30, 144, 255, 0.35);
}

.extract-current {
    outline: 2px solid #ff5500;;
}

.doc-extract { /* extracts set inline for color */
}

.theme_button {
    @apply p-2 px-4 font-semibold text-base rounded-lg text-white bg-[#0f8e76] focus:outline-none hover:bg-[#119e83]
}

#document_text {
    font-family: 'inter', 'sans-serif';
    font-size: 1.1rem;
    @apply xl:mx-12;

}

.formkit-option {
    @apply p-2;
}

.formkit-inner {
    @apply pe-2;
}

.compact-section .fi-section-content {
    @apply p-0!;
}

.compact-section .fi-section-content .fi-ta-ctn {
    @apply rounded-none!;
}
