@import '/vendor/filament/filament/resources/css/theme.css';

@config 'tailwind.config.js';


.fi-body {
    background-color: white !important;
}

.fi-simple-main {
    @apply border-gray-100 shadow-lg;
}

.fi-section {
    @apply rounded-none;
}

.header-dark .fi-section-header {
    @apply bg-dark-title-block;
}

.header-dark .fi-section-header h3,
.header-dark .fi-section-header p,
.header-dark .fi-section-header button {
    @apply text-gray-50;
}

.search-result {
    background-color: rgba(173, 216, 230, 0.6);
}

.search-current {
    outline: 2px solid #1e90ff;
    background-color: rgba(30, 144, 255, 0.35);
}

.highlight-current {
    outline: 2px solid #ff5500;;
}

.doc-highlight { /* highlights set inline for color */
}
